* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'SF Medium';
}

button:focus {
  outline: none;
}

.owl-next img, .owl-prev img {
  width: 50px;
  height: 50px;
}

.owl-nav {
  width: 100%;
  position: absolute;
  top: 40%;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  background: none !important;
  color: black !important;
}

.owl-prev {
  position: absolute;
  left: 15px;
}

.owl-next {
  position: absolute;
  right: 15px;
}

.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
  width: 900px;
}

.modal-dialog iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  .modal-dialog {
    max-width: 400px;
    margin: 10px auto;
  }
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    max-width: 700px;
    margin: 20px auto;
  }
}

@media screen and (min-width: 992px) {
  .modal-dialog {
    max-width: 900px;
    margin: 30px auto;
  }
}

.modal-body {
  padding: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.modal-content {
  background: none;
  border: none;
}

button.close {
  position: absolute;
  top: -20px;
  right: -20px;
  opacity: 1;
  z-index: 2;
}

.dropdown-menu {
  background-clip: unset;
}

header .header__content {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

header .header__content .header__left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header .header__content .header__left img {
  width: 50px;
  height: 50px;
}

header .header__content .header__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .header__content .header__center ul {
  list-style: none;
  margin: 0;
}

header .header__content .header__center ul li {
  display: inline;
  margin-right: 20px;
}

header .header__content .header__center ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: normal;
  transition: all 0.2s;
}

header .header__content .header__center ul li a:hover {
  color: #fb4226;
}

@media screen and (max-width: 768px) {
  header .header__content .header__center {
    display: none !important;
  }
}

header .header__content .header__right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #9b9b9b;
  font-size: 13px;
  font-weight: normal;
}

header .header__content .header__right .header__account {
  cursor: pointer;
}

header .header__content .header__right .header__account img {
  width: 30px;
  height: auto;
  border-radius: 25px;
  margin-right: 5px;
}

header .header__content .header__right .header__account span {
  padding-right: 5px;
}

header .header__content .header__right .header__location {
  cursor: pointer;
}

header .header__content .header__right .header__location img {
  margin-left: 5px;
}

header .header__content .header__right .header__location .dropdown-menu {
  top: 75% !important;
}

header .header__content .header__right .header__location .dropdown-menu li {
  transition: all 0.2s;
}

header .header__content .header__right .header__location .dropdown-menu li:hover {
  background-color: #60c5ef;
}

header .header__content .header__right .header__location .dropdown-menu li:hover a {
  text-decoration: none;
  color: white;
}

header .header__content .header__right .header__location .dropdown-menu li a {
  color: black;
  font-size: 13px;
  font-weight: normal;
  padding: 3px 20px;
}

@media screen and (max-width: 768px) {
  header .header__content .header__right {
    display: none !important;
  }
}

header .header__content .navbar-toggler {
  display: none;
  position: absolute;
  top: 40%;
  right: 20px;
  width: 25px;
  height: 20px;
  background-image: url(../img/menu-options.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  header .header__content .navbar-toggler {
    display: inline-block;
  }
}

.selectScroll {
  max-height: 300px;
  overflow-y: scroll;
}

.selectScroll::-webkit-scrollbar {
  width: 5px;
  background-color: #e8e3e3;
}

.selectScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
    z-index: 999;
  }
  .navbar-collapse ul li a {
    color: black;
    font-size: 14px;
    font-weight: normal;
  }
  .navbar-collapse ul li a img {
    width: 50px;
    height: 50px;
  }
  .navbar-collapse ul li .modal {
    background: rgba(0, 0, 0, 0.5);
  }
  .navbar-collapse ul li .modal .modal-content {
    height: 600px;
    background-color: white;
  }
  .navbar-collapse ul li .modal .modal-content .modal-header {
    border: none;
  }
  .navbar-collapse ul li .modal .modal-content .modal-body {
    padding-top: 0;
    text-align: center;
  }
  .navbar-collapse ul li .modal .modal-content .modal-body .selectScroll {
    max-height: 600px;
  }
  .navbar-collapse ul li .modal .modal-content .modal-body .selectScroll li {
    margin-bottom: 5px;
    height: 40px;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #ebebec;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 5px;
  }
  .navbar-collapse ul li .modal .modal-content .modal-body .selectScroll li a:hover {
    text-decoration: none;
  }
  .navbar-collapse ul li .modal .modal-content .modal-body .selectScroll li a.active {
    color: #fb4226;
  }
  .navbar-collapse ul li .modal .modal-content .modal-footer {
    border: none;
  }
  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }
  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .overlay.active {
    display: block;
    opacity: 1;
  }
}

@media screen and (min-width: 769px) {
  .navbar-collapse {
    display: none;
  }
  .modal {
    display: none;
  }
}

.tixCarousel {
  margin-top: 60px;
  position: relative;
}

.tixCarousel .showHover {
  opacity: 0;
  transition: all 0.2s;
}

.tixCarousel:hover .showHover {
  opacity: 1;
}

.tixCarousel:hover .showHover:hover {
  opacity: 0.7;
}

.tixCarousel .owl-dots {
  position: relative;
  bottom: 90px;
}

.tixCarousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px;
}

.tixCarousel .owl-dots .owl-dot.active span, .tixCarousel .owl-dots .owl-dot:hover span {
  background: #fb4226;
}

.tixCarousel .playTrailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
}

.tixCarousel .buyTicketsBox {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.tixCarousel .buyTicketsBox .row {
  height: 80px;
}

.tixCarousel .buyTicketsBox .row .selectMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  width: 100%;
  padding: 3% 7%;
  background-image: url(../img/dropdown-icon.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.tixCarousel .buyTicketsBox .row .dropdown-menu {
  top: 75% !important;
  left: 0;
  transform: translate3d(0, 0, 0) !important;
}

.tixCarousel .buyTicketsBox .row .dropdown-menu li {
  transition: all 0.2s;
}

.tixCarousel .buyTicketsBox .row .dropdown-menu li:hover {
  background-color: #60c5ef;
}

.tixCarousel .buyTicketsBox .row .dropdown-menu li:hover a {
  text-decoration: none;
  color: white;
}

.tixCarousel .buyTicketsBox .row .dropdown-menu li a {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  display: block;
  padding: 3px 20px;
  white-space: nowrap;
}

.tixCarousel .buyTicketsBox .row .selectScroll {
  max-height: 300px;
  overflow-y: scroll;
}

.tixCarousel .buyTicketsBox .row .buyNow button {
  background-color: #4a4a4a;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  .tixCarousel .buyTicketsBox {
    display: none;
  }
}

.comingSoon {
  padding-top: 75px;
  max-width: 940px;
  margin: auto;
}

.comingSoon .navCenter {
  display: flex;
  text-align: center;
  border: none;
  margin-bottom: 30px;
  justify-content: center;
}

.comingSoon .navCenter .nav-link {
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.2s;
  cursor: pointer;
}

.comingSoon .navCenter .nav-link:hover {
  color: black;
  font-size: 24px;
  font-weight: 600;
  border: none;
}

.comingSoon .navCenter .nav-link.active {
  border: none;
  color: #fa5238;
  font-size: 24px;
  font-weight: 600;
}

.comingSoon .tab-content .tab-pane {
  display: none;
}

.comingSoon .tab-content .tab-pane.active {
  display: block;
}

.comingSoon .tab-content .owl-carousel .item .film {
  padding: 20px 15px;
  cursor: pointer;
  position: relative;
}

.comingSoon .tab-content .owl-carousel .item .film .showDetail {
  position: relative;
}

.comingSoon .tab-content .owl-carousel .item .film .showDetail img {
  display: block;
  width: 100%;
  border-radius: 4px;
}

.comingSoon .tab-content .owl-carousel .item .film .avgPoint {
  color: white;
  font-size: 16px;
  font-weight: normal;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 30px;
  right: 24px;
  width: 54px;
  text-align: center;
  line-height: 1.1;
}

.comingSoon .tab-content .owl-carousel .item .film .avgPoint p {
  margin: 0;
}

.comingSoon .tab-content .owl-carousel .item .film .avgPoint p .smallStar {
  max-width: 8px;
  display: inline;
}

.comingSoon .tab-content .owl-carousel .item .film .avgPoint p .half {
  max-width: 10px;
  display: inline;
}

.comingSoon .tab-content .owl-carousel .item .film .filmType {
  position: absolute;
  top: -5px;
  left: 12px;
  width: 80%;
  pointer-events: none;
  overflow: hidden;
  transform: translate(-5%, -12%);
  max-width: 150px;
}

.comingSoon .tab-content .owl-carousel .item .film .filmType img {
  width: 100%;
}

.comingSoon .tab-content .owl-carousel .item .film .info {
  position: relative;
  padding: 10px 0px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  .comingSoon .tab-content .owl-carousel .item .film .info {
    display: none;
  }
}

.comingSoon .tab-content .owl-carousel .item .film .info .ageType {
  color: white;
  font-size: 14px;
  font-weight: normal;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.comingSoon .tab-content .owl-carousel .item .film .info .ageType-general {
  background-color: #00ac4d;
}

.comingSoon .tab-content .owl-carousel .item .film .info .nameFilm {
  height: 42px;
  color: black;
}

.comingSoon .tab-content .owl-carousel .item .film .info .nameFilm:hover {
  text-decoration: none;
}

.comingSoon .tab-content .owl-carousel .item .film .info .infoFilm {
  color: #4a4a4a;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 8px;
}

.comingSoon .tab-content .owl-carousel .item .film .info .hideHover {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.comingSoon .tab-content .owl-carousel .item .film .info .showHover {
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  position: relative;
}

.comingSoon .tab-content .owl-carousel .item .film .info .showHover .buyNow {
  text-decoration: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px !important;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
}

.comingSoon .tab-content .owl-carousel .item .film:hover .hideHover {
  opacity: 0;
}

.comingSoon .tab-content .owl-carousel .item .film:hover .showHover {
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.comingSoon .tab-content .owl-carousel .item .film:hover .showHover .buyNow {
  opacity: 1;
}

.comingSoon .tab-content .owl-carousel .item .film:hover .showHover .buyNow:hover {
  background: #fb4226;
}

.comingSoon .tab-content .owl-carousel .item .film button.playTrailer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: 0 0;
  border: none;
  transition: all 0.2s;
}

.comingSoon .tab-content .owl-carousel .item .film button.playTrailer:hover {
  opacity: 0.7;
}

.comingSoon .tab-content .owl-carousel .item .film button.playTrailer img {
  width: 50px;
}

.comingSoon .tab-content .owl-carousel .item .hoverInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent 100%);
  top: 0;
  border-radius: 4px;
}

.comingSoon .tab-content .owl-carousel .item .showHover {
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
}

.comingSoon .tab-content .owl-carousel .owl-prev {
  left: -70px;
}

@media screen and (max-width: 1000px) {
  .comingSoon .tab-content .owl-carousel .owl-prev {
    display: none;
  }
}

.comingSoon .tab-content .owl-carousel .owl-next {
  right: -70px;
}

@media screen and (max-width: 1000px) {
  .comingSoon .tab-content .owl-carousel .owl-next {
    display: none;
  }
}

.movieList {
  padding-top: 120px;
  padding-bottom: 50px;
  background: url(../img/back-news.png);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 940px;
  margin: auto;
  display: flex;
}

@media screen and (max-width: 677px) {
  .movieList {
    display: block;
  }
}

.movieList .nav {
  display: block;
}

.movieList .listCinemas {
  min-height: 705px;
  width: 92px;
  border: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (max-width: 677px) {
  .movieList .listCinemas {
    width: 100%;
  }
}

.movieList .listCinemas .nav-link {
  border: 1px solid transparent;
  padding: 20px;
  position: relative;
  transition: all .2s;
  opacity: 0.5;
}

.movieList .listCinemas .nav-link.active, .movieList .listCinemas .nav-link:hover {
  opacity: 1;
}

.movieList .listCinemas .nav-link img {
  width: 50px;
}

.movieList .listCinemas .nav-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.878);
}

.movieList #cinemaTabContent {
  min-height: 705px;
  border-bottom: 1px solid #ebebec;
  width: 848px;
}

@media screen and (max-width: 677px) {
  .movieList #cinemaTabContent {
    width: 100%;
  }
}

.movieList #cinemaTabContent .cinemaList {
  width: 100%;
  display: none;
}

.movieList #cinemaTabContent .cinemaList.active {
  display: flex;
}

@media screen and (max-width: 677px) {
  .movieList #cinemaTabContent .cinemaList.active {
    display: block;
  }
}

.movieList #cinemaTabContent .cinemaList .listMovies {
  min-height: 705px;
  border-top: 1px solid #ebebec;
  width: 30%;
}

@media screen and (max-width: 677px) {
  .movieList #cinemaTabContent .cinemaList .listMovies {
    width: 100%;
  }
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item {
  padding: 15px;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  position: relative;
  opacity: .5;
  cursor: pointer;
  transition: all .2s;
  display: flex;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item.active, .movieList #cinemaTabContent .cinemaList .listMovies .cinema-item:hover {
  opacity: 1;
  text-decoration: none;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaImg {
  width: 50px;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo {
  width: 169px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  padding-left: 10px;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo span {
  display: block;
  line-height: 1.4;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName .colorCinema {
  display: inline-block !important;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName .BHD {
  color: #8bc541;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName .CNS {
  color: #df0d7a;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName .DDC {
  color: #9c9c9c;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName .megaGS {
  color: #e5a813;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaName .Lotte {
  color: #ca4137;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .cinemaAddress {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinemaInfo .redDetail {
  color: #fb4226 !important;
  font-size: 12px;
}

.movieList #cinemaTabContent .cinemaList .listMovies .nav-item {
  position: relative;
}

.movieList #cinemaTabContent .cinemaList .listMovies .nav-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.878);
}

.movieList #cinemaTabContent .cinemaList .tab-content {
  max-height: 705px;
  border: 1px solid #ebebec;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.movieList #cinemaTabContent .cinemaList .tab-content .wrapMovie {
  padding: 20px 15px 17px 20px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo {
  display: flex;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo .movieImg {
  width: 50px;
  height: 50px;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo .wrapInfo {
  padding: 5px 15px;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo .wrapInfo p {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo .wrapInfo .ageType {
  color: white;
  font-size: 14px;
  font-weight: normal;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo .wrapInfo .ageType-general {
  background-color: #00ac4d;
}

.movieList #cinemaTabContent .cinemaList .tab-content .movieInfo .wrapInfo .movieTitle {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.movieList #cinemaTabContent .cinemaList .tab-content .version {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.movieList #cinemaTabContent .cinemaList .tab-content .sessions .session {
  width: calc(25% - 15px);
  color: #9b9b9b;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  margin: 0 10px 10px 0;
  padding: 5px 0;
  transition: all .2s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  border: 1px solid #e4e4e4;
}

.movieList #cinemaTabContent .cinemaList .tab-content .sessions .session .start-time {
  color: #108f3e;
  font-size: 18px;
  font-weight: normal;
}

.movieList #cinemaTabContent .cinemaList .tab-content .sessions .session:hover .start-time {
  color: #fb4226;
}

#homeNews .films__all {
  max-width: 940px;
}

#homeNews .films__all .mainMaxWidth {
  padding-top: 120px;
  background: url("/img/back-news.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#homeNews .films__all .mainMaxWidth .nav__content {
  text-align: center;
}

#homeNews .films__all .mainMaxWidth .nav__content .tabCenter .nav-item a {
  line-height: 24px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid white;
  color: black;
  transition: all .7s;
}

#homeNews .films__all .mainMaxWidth .nav__content .tabCenter .nav-item a:hover {
  font-size: 24px;
}

#homeNews .films__all .mainMaxWidth .nav__content .tabCenter .active a {
  color: #fa5238;
  line-height: 24px;
  height: 24px;
  font-size: 24px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card img {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body {
  color: #4a4a4a;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body a {
  height: 42px;
  font-size: 20px;
  color: black;
  line-height: 20px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body a:hover {
  color: #fb4226;
  text-decoration: none;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body .iconCard {
  color: #222;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body .iconCard .wrapIcon {
  margin-right: 25px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body .iconCard .wrapIcon img {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body .iconCard .wrapIcon img:hover {
  width: 21px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .card-body .iconCard .wrapIcon p {
  color: #bbb;
  font-size: 13px;
  line-height: 1.43;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .imgSize2 {
  height: 150px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .innerCard .cardImage img {
  width: 50px;
  height: 50px;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .innerCard .card-text a {
  color: #4a4a4a;
  text-decoration: none;
  transition: all .7s;
}

#homeNews .films__all .mainMaxWidth .tab-content .tab-pane .content__row .news__card .innerCard .card-text a:hover p {
  color: #fb4226;
}

#homeNews .films__all .mainMaxWidth .tab-content .wrapButtonSeeMoreNews .btnViewMore {
  font-size: 14px;
  color: #949494;
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  transition: all .2s;
  margin: auto;
  margin-bottom: 20px;
  display: block;
}

#homeNews .films__all .mainMaxWidth .tab-content .wrapButtonSeeMoreNews .btnViewMore:hover {
  background-color: #fb4226;
  border-color: #fb4226;
  color: white;
}

.mobileApp .coverImage {
  background-image: url("../img/backapp.jpg");
}

.mobileApp .coverImage .mainMaxWidth {
  margin: 0 auto;
  max-width: 940px;
}

.mobileApp .coverImage .mainMaxWidth .leftText {
  padding-top: 60px;
  align-items: center;
  color: white;
}

.mobileApp .coverImage .mainMaxWidth .leftText p:first-child {
  font-size: 40px;
}

.mobileApp .coverImage .mainMaxWidth .leftText .button-left {
  background-color: #fb4226;
  padding: 10px 20px;
  margin: 10px 0;
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.mobileApp .coverImage .mainMaxWidth .leftText .tagA {
  color: white;
  border-bottom: 1px solid white;
}

.mobileApp .coverImage .mainMaxWidth .rightCarousel {
  position: relative;
  text-align: center;
}

.mobileApp .coverImage .mainMaxWidth .rightCarousel .phone-img {
  width: 210px;
}

.mobileApp .coverImage .mainMaxWidth .rightCarousel .showAppDetail {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 195px;
  height: 100px;
}

.mobileApp .coverImage .mainMaxWidth .rightCarousel .showAppDetail img {
  border-radius: 20px;
}

.footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 80%;
}

.footer .mainMaxWidth {
  margin: 0 auto;
  max-width: 940px;
}

.footer .mainMaxWidth .colFirst a {
  color: #949494;
}

.footer .mainMaxWidth .colFirst a:hover {
  color: white;
  text-decoration: none;
}

.footer .mainMaxWidth .colSecond .smallIcon {
  margin: 10px 0;
  padding: 0;
}

.footer .mainMaxWidth .colSecond .smallIcon img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 25px;
}

.footer .mainMaxWidth .colSecond .smallIcon img:hover {
  opacity: .7;
}

.footer .mainMaxWidth .colThird {
  text-align: center;
}

.footer .mainMaxWidth .colThird img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.footer .mainMaxWidth .hrFooter {
  border-top: 1px solid #4a4a4a;
}

.footer .mainMaxWidth .imgFooter img {
  width: 80px;
  height: auto;
}

.footer .mainMaxWidth .infoFooter {
  color: #4a4a4a;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.8;
}

.footer .mainMaxWidth .infoFooter :first-child {
  color: white;
}

.footer .mainMaxWidth .imgFooter .imgBoCo {
  width: 130px;
}
/*# sourceMappingURL=main.css.map */