.tab-pane {
  .slick-arrow {
    // position: absolute;
    // top: 45%;
    // transform: translateY(-50%);
    // width: 50px;
    // height: 100px;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // color: #ccc;
    // opacity: 0.5;
    // z-index: 2;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    width: 50px;
    height: 100px;
    z-index: 2;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover {
      color: #fb4226;
    }
    &::before {
      display: none;
    }
  }
  .slick-prev {
    left: -70px !important;
    background-image: url("../img/back-session.png");
  }
  .slick-next {
    right: -70px !important;
    background-image: url("../img/next-session.png");
  }
  .slick-dots {
    li {
      button {
        display: none;
      }
    }
  }
}
