// @import "../Base/normalized";
.tixCarousel {
  margin-top: 60px;
  position: relative;
  .showHover {
    opacity: 0;
    transition: all 0.2s;
  }
  &:hover {
    .showHover {
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .owl-dots {
    position: relative;
    bottom: 90px;
    .owl-dot {
      span {
        width: 12px;
        height: 12px;
        margin: 5px;
      }
      &.active,
      &:hover {
        span {
          background: #fb4226;
        }
      }
    }
  }
  .playTrailer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: 0 0;
    border: none;
  }
  .buyTicketsBox {
    display: block;
    max-width: 940px;
    margin: auto;
    height: 80px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    .row {
      height: 80px;
      .selectMenu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: transparent;
        border: none;
        color: #000;
        cursor: pointer;
        width: 100%;
        padding: 3% 7%;
        // background-image: url(../../../public/img/dropdown-icon.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 8px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 20px;
        @include text($color-black-0, $fs-0, $fw-normal);
      }
      .dropdown-menu {
        top: 75% !important;
        left: 0;
        transform: translate3d(0, 0, 0) !important;
        li {
          transition: all 0.2s;
          &:hover {
            background-color: #60c5ef;
            a {
              text-decoration: none;
              color: $color-white-0;
            }
          }
          a {
            @include text($color-gray-1, $fs-0, $fw-normal);
            display: block;
            padding: 3px 20px;
            white-space: nowrap;
          }
        }
      }
      .selectScroll {
        max-height: 300px;
        overflow-y: scroll;
      }
      .buyNow {
        button {
          background-color: #4a4a4a;
          border: none;
          text-transform: uppercase;
          border-radius: 4px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include text($color-white-0, $fs-0, $fw-normal);
        }
      }
    }
    @media screen and (max-width: 992px) {
      & {
        display: none;
      }
    }
  }
}
