#homeNews .films__all {
  max-width: 920px;
  .mainMaxWidth {
    margin-top: 60px;
    // background: url("/img/back-news.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    .nav__content {
      text-align: center;
      .tabCenter {
        .nav-item {
          a {
            line-height: $fs-3;
            height: $fs-3;
            font-size: $fs-2;
            font-weight: $fw-bold-0;
            border: 1px solid white;
            color: $color-black-0;
            transition: all 0.7s;
            &:hover {
              font-size: $fs-3;
            }
          }
        }
        .active {
          a {
            color: $color-orange-2;
            line-height: $fs-3;
            height: $fs-3;
            font-size: $fs-3;
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        .content__row {
          .news__card {
            img {
              width: 100%;
              height: 250px;
              border-radius: 4px;
            }
            .card-body {
              color: $color-gray-3;
              a {
                height: 42px;
                font-size: $fs-2;
                color: $color-black-0;
                line-height: 20px;
                &:hover {
                  color: $color-orange-1;
                  text-decoration: none;
                }
              }
              .iconCard {
                color: $color-black-1;

                .wrapIcon {
                  margin-right: $mg-2;
                  img {
                    width: 20px;
                    height: auto;
                    margin-right: $mg-1;
                    &:hover {
                      width: 21px;
                    }
                  }
                  p {
                    color: #bbb;
                    font-size: $fs-1;
                    line-height: $line-height-0;
                  }
                }
              }
            }

            .imgSize2 {
              height: 150px;
            }
            .innerCard {
              .cardImage {
                img {
                  width: 50px;
                  height: 50px;
                }
              }
              .card-text {
                a {
                  color: $color-gray-3;
                  text-decoration: none;
                  transition: all 0.7s;
                  &:hover p {
                    color: $color-orange-1;
                  }
                }
              }
            }
          }
        }
      }
      .wrapButtonSeeMoreNews {
        .btnViewMore {
          font-size: 14px;
          color: $color-gray-5;
          border: 1px solid $color-gray-5;
          border-radius: 4px;
          text-align: center;
          background: 0 0;
          padding: 7px 25px;
          transition: all 0.2s;
          margin: auto;
          margin-bottom: 20px;
          display: block;
        }
        .btnViewMore:hover {
          background-color: $color-orange-1;
          border-color: $color-orange-1;
          color: $color-white-0;
        }
      }
    }
  }
}
