#modalLogin .modal-dialog .modal-content {
  max-width: 360px;
  padding: 40px 32px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    to bottom,
    rgba(20, 50, 93, 0.9),
    rgba(8, 22, 48, 0.9)
  );
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
  text-align: center;
  color: #fff;
  border-radius: 6px;

  .modal-body {
    height: auto;
    padding: 0;
    .logInCate {
      margin-top: 60px;
      .loginBtn {
        text-align: center;
        margin-top: 15px;
        padding: 60px 0;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        transition: all 0.2s;
        .sigInLogo {
          width: 100%;
        }
      }
    }
  }
}
