// variable color
$color-black-0: rgb(0,0,0);
$color-black-1 : #222;
$color-white-0: rgb(255,255,255);
$color-gray-1: #333333;
$color-gray-2: #9b9b9b;
$color-gray-3: #4a4a4a;
$color-gray-4: #555555;
$color-gray-5: #949494;
$color-gray-6: #9c9c9c;
$color-gray-7: rgb(187,187,187);
$color-gray-8: rgb(117,117,117);
$color-orange-1: #fb4226;
$color-orange-2: #fa5238;
$color-orange-3: #ff6600;
$color-brown: #ca4137;
$color-blue-1: #3b5b99;
$color-blue-2: #727b8a;
$color-green-1: #00ac4d;
$color-green-2: #8bc541;
$color-green-3: #108f3e;
$color-green-4: #8bc541;
$color-yellow: #e5a813;
$color-pink:  #df0d7a;
// variable font-size
$fs-0: 14px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;
$fs-5: 16px;
$fs-6: 18px;
//variable margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;