.owl-next, .owl-prev{
    img{
        width: 50px;
        height: 50px;
    }
}
.owl-nav{
    width: 100%;
    position: absolute;
    top: 40%;
    .owl-prev:hover, .owl-next:hover{
        background: none!important;
        color: black!important;
    }
}
.owl-prev{
    position: absolute;
    left: 15px;
}
.owl-next{
    position: absolute;
    right: 15px;
}

.modal-dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)!important;
    margin: 0;
    width: 900px;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 576px){
    .modal-dialog {
        max-width: 400px;
        margin: 10px auto;
    }
}
@media screen and (min-width: 768px){
    .modal-dialog {
        max-width: 700px;
        margin: 20px auto;
    }
}
@media screen and (min-width: 992px){
    .modal-dialog {
        max-width: 900px;
        margin: 30px auto;
    }
}

.modal-body{
    padding: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.modal-content{
    background: none;
    border: none;
}
button.close{
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: 1;
    z-index: 2;
}
.dropdown-menu{
    background-clip: unset;
}