* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333 !important;
  line-height: 1.42857 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.row {
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none !important;
}

.tab-pane .slick-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: none !important;
}

.tab-pane .slick-arrow:hover {
  color: #fb4226;
}

.tab-pane .slick-arrow::before {
  display: none;
}

@media screen and (min-width: 1064px) {
  .tab-pane .slick-arrow {
    display: block !important;
  }
}

.tab-pane .slick-prev {
  left: -70px !important;
  background-image: url("../img/back-session.png");
}

.tab-pane .slick-next {
  right: -70px !important;
  background-image: url("../img/next-session.png");
}

.tab-pane .slick-dots li button {
  display: none;
}

@media screen and (max-width: 576px) {
  .modal-backdrop {
    display: none;
  }
}

.myContainer {
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .myContainer {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 992px) {
  .myContainer {
    width: calc(100% - 20px);
  }
}

.playBtn__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s;
}

.playBtn__overlay button {
  border: none;
  background: transparent;
}

.playBtn__overlay button:focus {
  outline: none;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header .header__content {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

header .header__content .header__left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header .header__content .header__left img {
  width: 50px;
  height: 50px;
}

header .header__content .header__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .header__content .header__center ul {
  list-style: none;
  margin: 0;
}

header .header__content .header__center ul li {
  display: inline;
  margin-right: 20px;
}

header .header__content .header__center ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s;
}

header .header__content .header__center ul li a:hover {
  color: #fb4226;
}

@media screen and (max-width: 768px) {
  header .header__content .header__center {
    display: none !important;
  }
}

header .header__content .header__right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #9b9b9b;
  font-size: 13px;
  font-weight: normal;
}

header .header__content .header__right .header__account {
  cursor: pointer;
}

header .header__content .header__right .header__account img {
  width: 30px;
  height: auto;
  border-radius: 25px;
  margin-right: 5px;
}

header .header__content .header__right .header__account span {
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  header .header__content .header__right .header__account {
    display: none !important;
  }
}

header .header__content .leftmobile {
  display: none;
}

header .header__content .menudropdown {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate3d(0, -50%, 0);
  width: 25px;
  z-index: 1;
}

header .header__content .rightmobile {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 736px) {
  header .header__content .rightmobile {
    display: initial;
  }
}

header .header__content #sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
  transition: all 0.4s;
}

header .header__content #sideMenu .wrapMenuMobile {
  position: absolute;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background: #fff;
  transition: all 0.4s;
  overflow: hidden;
}

header .header__content #sideMenu .wrapMenuMobile .wrapFirst {
  padding: 10px;
  position: relative;
}

header .header__content #sideMenu .wrapMenuMobile .wrapFirst img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

header .header__content #sideMenu .wrapMenuMobile .wrapFirst .btnAvatarMobile {
  margin-left: 5px;
  margin-right: 5px;
}

header .header__content #sideMenu .wrapMenuMobile .wrapFirst .close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header .header__content #sideMenu .menu {
  display: block;
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
  font-size: 18px;
  color: #000;
}

header .header__content #sideMenu.active {
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: inherit;
}

header .header__content #sideMenu.active .wrapMenuMobile {
  right: 0;
}

.tixCarousel {
  margin-top: 60px;
  position: relative;
}

.tixCarousel:hover .playBtn__overlay {
  display: none;
}

@media screen and (min-width: 576px) {
  .tixCarousel:hover .playBtn__overlay {
    display: block;
    opacity: 1;
  }
}

.tixCarousel:hover .playBtn__overlay:hover {
  opacity: 0.5;
}

.tixCarousel .item {
  position: relative;
}

.tixCarousel .slick-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.tixCarousel .slick-arrow:hover {
  color: #fb4226;
}

.tixCarousel .slick-arrow::before {
  display: none;
}

.tixCarousel .slick-prev {
  background-image: url("../img/back-session.png");
  left: 30px;
}

.tixCarousel .slick-next {
  background-image: url("../img/next-session.png");
  right: 30px;
}

.tixCarousel .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translateX(-50%);
  list-style: none;
}

.tixCarousel .slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  color: transparent;
  background-color: #d8d8d8;
  outline: 0;
  border: 0;
}

.tixCarousel .slick-dots li button::before {
  display: none;
}

.tixCarousel .slick-dots .slick-active button {
  background-color: #fb4226;
}

.tixCarousel #movieTrailer {
  padding: 0;
}

@media screen and (max-width: 576px) {
  .tixCarousel #movieTrailer {
    display: none !important;
  }
}

@media screen and (max-width: 576px) {
  .tixCarousel #movieTrailer .modal-dialog {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tixCarousel #movieTrailer .modal-dialog {
    max-width: 600px;
    min-height: calc(100% - 3.5rem);
  }
}

@media screen and (min-width: 992px) {
  .tixCarousel #movieTrailer .modal-dialog {
    max-width: 800px;
    min-height: calc(100% - 1rem);
  }
}

.tixCarousel #movieTrailer .modal-dialog .modal-content {
  background-color: black;
}

.tixCarousel #movieTrailer .modal-dialog .modal-content .modal-body {
  padding: 50% 0 35px;
}

.tixCarousel #movieTrailer .modal-dialog .modal-content .modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buyTicketsBox {
  display: block;
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.buyTicketsBox .row {
  height: 80px;
}

.buyTicketsBox .row .selectMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  width: 100%;
  padding: 3% 7%;
  background-image: url(../img/dropdown-icon.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 20px;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

.buyTicketsBox .row .dropdown-menu {
  top: 75% !important;
  left: 0;
  transform: translate3d(0, 0, 0) !important;
}

.buyTicketsBox .row .dropdown-menu li {
  transition: all 0.2s;
}

.buyTicketsBox .row .dropdown-menu li:hover {
  background-color: #60c5ef;
}

.buyTicketsBox .row .dropdown-menu li:hover a {
  text-decoration: none;
  color: white;
}

.buyTicketsBox .row .dropdown-menu li a {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  display: block;
  padding: 3px 20px;
  white-space: nowrap;
}

.buyTicketsBox .row .selectScroll {
  max-height: 300px;
  overflow-y: scroll;
}

.buyTicketsBox .row .buyNow button {
  background-color: #4a4a4a;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  .buyTicketsBox {
    display: none;
  }
}

.comingSoon {
  padding-top: 75px;
}

.comingSoon .row {
  display: flex !important;
  margin: 0;
}

.comingSoon .navigation-tab {
  border: none;
  justify-content: center;
}

.comingSoon .navigation-tab .nav-item .nav-link {
  border: none;
  border-radius: 0;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  transform: scale(0.83333);
  transition: all 0.2s;
}

.comingSoon .navigation-tab .nav-item .nav-link.active {
  color: #fa5238;
  font-size: 24px;
  transform: scale(1);
  background: transparent;
}

.comingSoon .navigation-tab .nav-item .nav-link:hover {
  transform: scale(1);
}

.comingSoon .tab-content .tab-pane {
  display: none;
}

.comingSoon .tab-content .tab-pane.active {
  display: block;
}

.comingSoon .tab-content #comingFilms .btnContainer {
  display: none;
}

.comingSoon #movieTrailer1 {
  padding: 0;
}

@media screen and (min-width: 992px) {
  .comingSoon #movieTrailer1 .modal-dialog {
    max-width: 800px;
  }
}

.comingSoon #movieTrailer1 .modal-dialog .modal-content {
  background-color: black;
}

.comingSoon #movieTrailer1 .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.movieThumbnail {
  padding: 20px 15px;
  cursor: pointer;
  position: relative;
}

.movieThumbnail .movieThumbnail__img {
  position: relative;
}

.movieThumbnail .movieThumbnail__img .img__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 147%;
  border-radius: 4px;
  background-position: 50%;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.movieThumbnail .movieThumbnail__img .img__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  pointer-events: none;
  background: linear-gradient(0deg, #000, transparent);
  opacity: 0;
  transition: all 0.2s;
  display: none;
}

@media screen and (min-width: 768px) {
  .movieThumbnail .movieThumbnail__img .img__link::after {
    display: initial;
  }
}

.movieThumbnail .movieThumbnail__img .playBtn__overlay {
  display: none;
}

.movieThumbnail .movieThumbnail__img .playBtn__overlay button {
  width: 50px;
  height: 50px;
  padding: 0;
}

.movieThumbnail .movieThumbnail__img .playBtn__overlay button img {
  max-width: 100%;
}

.movieThumbnail .movieThumbnail__img .playBtn__overlay:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .movieThumbnail .movieThumbnail__img .playBtn__overlay {
    display: initial;
  }
}

.movieThumbnail .movieThumbnail__img:hover .img__link::after {
  opacity: 1;
}

.movieThumbnail .movieThumbnail__title {
  position: relative;
  width: 100%;
  margin-top: 15px;
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  height: 40px;
  line-height: 20px;
}

.movieThumbnail .movieThumbnail__title .btnContainer {
  display: none;
  width: 100%;
  height: 40px;
  background: linear-gradient(270deg, #fb4226, #ce3017);
}

@media screen and (min-width: 768px) {
  .movieThumbnail .movieThumbnail__title .btnContainer {
    display: block;
  }
}

.movieThumbnail .movieThumbnail__title .btnBuyTicket {
  display: none;
  height: 100%;
  width: 100%;
  background: linear-gradient(270deg, #fb4226, #ce3017);
  padding: 0;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.movieThumbnail .movieThumbnail__title .btnBuyTicket:hover {
  background: #fb4226;
}

@media screen and (min-width: 768px) {
  .movieThumbnail .movieThumbnail__title .btnBuyTicket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.movieThumbnail .movieThumbnail__title .movieThumbnail__age {
  display: inline-block;
  text-align: center;
  min-width: 30px;
  border-radius: 4px;
  background: #fb4226;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  margin-right: 8px;
  font-weight: 600;
}

.movieThumbnail .movieThumbnail__rate {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background: rgba(12, 27, 54, 0.8);
  border-radius: 4px;
  border: 1px solid #1f2e46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
  transition: all 0.2s;
  width: 55px;
  height: 40px;
  top: 30px;
  right: 25px;
  bottom: unset;
  font-weight: 600;
}

.movieThumbnail .movieThumbnail__rate .star {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.movieThumbnail .movieThumbnail__rate .star img {
  width: 8px;
}

.movieThumbnail:hover .playBtn__overlay {
  opacity: 1;
}

.movieList {
  padding-top: 120px;
  padding-bottom: 50px;
  background: url(../img/back-news.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}

@media screen and (max-width: 677px) {
  .movieList {
    display: block;
  }
}

.movieList .nav {
  display: block;
}

.movieList .listCinemas {
  flex-basis: 92px;
  max-height: 554px;
  border: 1px solid #ebebec;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: auto;
  transition: all 0.5s;
  /* width or height */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.movieList .listCinemas::-webkit-scrollbar {
  width: 5px;
}

.movieList .listCinemas::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.movieList .listCinemas::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.movieList .listCinemas::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 767px) {
  .movieList .listCinemas {
    display: flex;
  }
}

.movieList .listCinemas .logoWrapper {
  border: 1px solid transparent;
  padding: 15px;
  position: relative;
  transition: all 0.2s;
  opacity: 0.5;
  width: unset;
  flex-shrink: 0;
}

@media screen and (min-width: 576px) {
  .movieList .listCinemas .logoWrapper {
    padding: 20px;
  }
}

.movieList .listCinemas .logoWrapper.active, .movieList .listCinemas .logoWrapper:hover {
  opacity: 1;
}

.movieList .listCinemas .logoWrapper img {
  width: 40px;
}

@media screen and (min-width: 576px) {
  .movieList .listCinemas .logoWrapper img {
    width: 50px;
  }
}

.movieList .listCinemas .logoWrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.878);
}

.movieList #cinemaTabContent {
  flex-basis: 30%;
  min-width: 30%;
  width: 100%;
  max-height: 554px;
  border: 1px solid #ebebec;
  overflow-x: hidden;
  overflow-y: auto;
}

.movieList #cinemaTabContent::-webkit-scrollbar {
  width: 5px;
}

.movieList #cinemaTabContent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.movieList #cinemaTabContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

@media screen and (max-width: 677px) {
  .movieList #cinemaTabContent {
    width: 100%;
  }
}

.movieList #cinemaTabContent .cinemaList.active {
  display: flex;
}

@media screen and (max-width: 677px) {
  .movieList #cinemaTabContent .cinemaList.active {
    display: block;
  }
}

.movieList #cinemaTabContent .cinemaList .listMovies {
  min-height: 705px;
  border-top: 1px solid #ebebec;
  width: 100%;
}

@media screen and (max-width: 677px) {
  .movieList #cinemaTabContent .cinemaList .listMovies {
    width: 100%;
  }
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item {
  width: 100%;
  border: none;
  position: relative;
  opacity: 0.7;
  transition: all 0.5s;
}

@media screen and (max-width: 767px) {
  .movieList #cinemaTabContent .cinemaList .listMovies .cinema-item {
    opacity: 1;
  }
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item.active, .movieList #cinemaTabContent .cinemaList .listMovies .cinema-item:hover {
  opacity: 1;
  text-decoration: none;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details {
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-left: 10px;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName {
  display: block;
  font-weight: 700;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName .BHDStar {
  color: #8bc541;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName .CineStar {
  color: #df0d7a;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName .MegaGS {
  color: #e5a813;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName .LotteCinima {
  color: #ca4137;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName .CGV {
  color: #e71a0f;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaName .Galaxy {
  color: #f60;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .cinemaAddress {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieList #cinemaTabContent .cinemaList .listMovies .cinema-item .cinema__details .cinemaInfo .redDetail {
  color: #fb4226 !important;
  font-size: 12px;
}

.movieList .cinemaList__movies {
  flex-grow: 1;
  max-height: 554px;
  width: calc(70% - 92px);
  border: 1px solid #ebebec;
  overflow-y: auto;
}

.movieList .wrapper__collapse {
  position: relative;
  width: 100%;
  padding: 20px;
  border: none;
  opacity: 1;
  transition: all 0.5s;
}

.movieList .wrapper__collapse .main__collapse {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.movieList .wrapper__collapse .main__collapse .theater__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.movieList .wrapper__collapse .main__collapse .wrapInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-left: 10px;
}

.movieList .wrapper__collapse .main__collapse .wrapInfo .movieName {
  display: block;
  font-weight: 700;
}

.movieList .wrapper__collapse .main__collapse .wrapInfo .movieName .showing__age {
  display: inline-block;
  text-align: center;
  min-width: 30px;
  border-radius: 4px;
  background: #fb4226;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  margin-right: 8px;
  font-weight: 600;
}

.movieList .wrapper__collapse .main__collapse .wrapInfo .movieDetail {
  color: #949494;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movieList .wrapper__collapse .main__collapse::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.movieList .wrapper__collapse .main__collapse:not(.collapsed)::after {
  content: "\f077";
}

.movieList .wrapper__collapse .digital {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.movieList .wrapper__collapse .btn-time {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  background: rgba(246, 246, 246, 0.6);
  border: 1px solid #e4e4e4;
  border-radius: 7px;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 700;
  min-width: 20%;
  transition: all 0.5s;
}

.movieList .wrapper__collapse .btn-time .start {
  color: #108f3e;
  font-size: 18px;
}

.movie__times .movie__content {
  margin-top: 60px;
  margin-bottom: 0;
  color: #e9e9e9;
  font-size: 14px;
  position: relative;
}

.movie__times .movie__content .carousel__item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .movie__times .movie__content .carousel__item .img__background {
    height: 80vh;
    filter: blur(8px);
    transform: scaleY(0.91);
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.movie__times .movie__content .carousel__item .blur__overlay {
  background: linear-gradient(0deg, #0a2029, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.movie__times .movie__content .movie__details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@media screen and (min-width: 768px) {
  .movie__times .movie__content .movie__details {
    display: block;
  }
}

.movie__times .movie__content .movie__details .movieThumbnail {
  margin-top: 25px;
  position: relative;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .movie__times .movie__content .movie__details .movieThumbnail {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .movie__times .movie__content .movie__details .movieThumbnail .movieThumbnail__img {
    position: relative;
  }
}

.movie__times .movie__content .movie__details .movieThumbnail .movieThumbnail__img .img__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 147%;
  border-radius: 4px;
  background-position: 50%;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie__times .movie__content .movie__details .movieThumbnail .movieThumbnail__img .playBtn__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s;
}

.movie__times .movie__content .movie__details .movieThumbnail .movieThumbnail__img .playBtn__overlay .play__link {
  display: block;
  width: 50px;
  opacity: 1;
  transition: all 0.2s;
}

.movie__times .movie__content .movie__details .movieThumbnail .movieThumbnail__img:hover .playBtn__overlay {
  opacity: 1;
}

.movie__times .movie__content .movie__details .main-title-detail .title {
  color: #e9e9e9;
  font-size: 20px;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.movie__times .movie__content .movie__details .main-title-detail .title .showing__age {
  display: inline-block;
  text-align: center;
  min-width: 30px;
  border-radius: 4px;
  background: #fb4226;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  margin-right: 8px;
  font-weight: 600;
}

.movie__times .movie__content .movie__details .main-title-detail .btnBuyTicket {
  display: inline-block;
  text-align: center;
  min-width: 30px;
  border-radius: 4px;
  background: #fb4226;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  margin-right: 8px;
  font-weight: 600;
}

.movie__times .movie__content .movie__details .detail__point .percentage {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.movie__times .movie__content .movie__details .detail__point .percentage .circle-border {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  border: 7.5px solid #3a3a3a;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: content-box;
}

.movie__times .movie__content .movie__details .detail__point .percentage .point-group {
  width: 126px;
  height: 126px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.movie__times .movie__content .movie__details .detail__point .percentage .point-group .bar {
  width: 111px;
  height: 111px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border: 7.5px solid #44c020;
  box-sizing: content-box;
}

.movie__times .movie__content .movie__details .detail__point .percentage .point {
  color: #e9e9e9;
  font-size: 3rem;
}

.movie__times .movie__content .movie__details .detail__point .star {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 0;
}

.movie__times .movie__content .movie__details .detail__point .rating {
  margin-top: 10px;
  font-size: 16px;
}

.movie__times .detail__times {
  padding: 30px 0;
  background: #0a2029;
}

.movie__times .detail__times .navigation__tab {
  border: none;
  justify-content: center;
}

.movie__times .detail__times .navigation__tab .nav-item .nav-link {
  border: none;
  border-radius: 0;
  color: #e9e9e9;
  font-size: 24px;
  font-weight: 500;
  transform: scale(0.83333);
  transition: all 0.2s;
}

.movie__times .detail__times .navigation__tab .nav-item .nav-link.active {
  color: #fa5238;
  font-size: 24px;
  transform: scale(1);
  background: transparent;
}

.movie__times .detail__times .navigation__tab .nav-item .nav-link:hover {
  color: #fa5238;
  transform: scale(1);
}

.movie__times .detail__times .tab-content #lichChieu .detail {
  margin: 30px 0 0;
  background: #fff;
  padding-bottom: 10px;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-rows: minmax(auto, 90px) 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "ld" "tr" "sh";
}

@media screen and (min-width: 768px) {
  .movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "tr tr tr ld ld ld ld ld ld ld" "tr tr tr sh sh sh sh sh sh sh";
  }
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 5px;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
  grid-area: ld;
  max-height: 90px;
  border: 1px solid #ebebec;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  min-width: 70px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.5s;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item.active, .movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item:hover {
  color: #fb4226;
  font-weight: 700;
  opacity: 1;
  transform: scale(1.1);
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item .dayOfWeek {
  font-weight: 700;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item .date {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__listOfDay .detail__listOfDay--item .date {
    font-size: 20px;
  }
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-basis: 100%;
  overflow-y: auto;
  grid-area: tr;
  max-height: 735px;
  border: 1px solid #ebebec;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper {
  width: 100%;
  border: none;
  position: relative;
  opacity: 0.7;
  transition: all 0.5s;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
  background-color: #ebebec;
  height: 2px;
  width: calc(100% - 40px);
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper.active::after {
  background-color: #fb4226;
  box-shadow: 0 -3px 10px 0 #fb4226;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper.active, .movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper:hover {
  opacity: 1;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper .logo__detail {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper .logo__detail .cinema__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper .logo__detail .cinema__name {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper .logo__detail .arrow__extend {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAM1BMVEUAAACMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIxW5lxRAAAAEHRSTlMAcL3DCQzusd6ij4I2Ixhm6GJHJAAAAKlJREFUeNrt2zESgkAQRNFBFAQR9/6n1QwjMbFardcXeL+2Np3a2XUczpdjxbYO7bH+VKnNrWUL+hYumFq4YGnpgk6BAgUKFChQoECBAgUKFChQoECBAgUKFChQoECBAgU/X3CozLaCrjLrvuYJxkps89ut3txffcIn/1j74/P5fD6fz+fz+Xw+n8/n8/l8Pp/P5/P5L7aE/ZrCfvVhv+awX+vwaT9+/n8HPKJKCCz/grAAAAAASUVORK5CYII=) 50%/cover;
}

@media screen and (min-width: 768px) {
  .movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__cinema .logo__wrapper .logo__detail .arrow__extend {
    display: none;
  }
}

.movie__times .detail__times .tab-content #lichChieu .detail .detail__wrapper .detail__showList {
  overflow-y: auto;
  grid-area: sh;
  max-height: 645px;
  border: 1px solid #ebebec;
}

.movie__times .detail__times .tab-content #thongTin .movie__info {
  padding-top: 40px;
  background: #0a2029;
  color: #e9e9e9;
  font-size: 14px;
}

.movie__times .detail__times .tab-content #thongTin .movie__info .rowInfo {
  display: flex;
  margin-bottom: 20px;
}

.movie__times .detail__times .tab-content #thongTin .movie__info .rowInfo .titleInfo {
  width: 35%;
  color: #fff;
}

.movie__times .detail__times .tab-content #thongTin .movie__info .rowInfo .contentInfo {
  width: 40%;
}

.movie__times .detail__times .tab-content #thongTin .movie__info .rowInfo .description {
  width: 100%;
  text-align: justify;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion {
  width: 85%;
  margin-top: 30px;
  background: #0a2029;
  padding-bottom: 20px;
}

@media screen and (min-width: 579px) {
  .movie__times .detail__times .tab-content #danhGia .movie__discussion {
    width: 70%;
  }
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__input {
  line-height: 42px;
  cursor: pointer;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--header .avatar .avatar-img {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--header .middle {
  padding: 0;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--header .middle .opinion {
  color: #000;
  font-size: clamp(13px, 2.5vw, 16px);
  margin: 0;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--header .star__group .star__group--default .icon-star {
  color: rgba(220, 53, 69, 0.75);
  font-size: clamp(15px, 3vw, 21px);
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--body {
  padding: 1rem 0;
  margin-top: 10px;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--body .comment {
  margin: 0;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .line {
  height: 1px;
  width: 100%;
  background-color: grey;
  border-radius: 15px;
  margin: 10px 0;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--footer .interact__wrapper .interact__item {
  display: inline-block;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--footer .interact__wrapper .interact__item img {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--footer .interact__wrapper .interact__item img:hover {
  transform: scale(1.1);
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--footer .interact__wrapper .interact__item:first-of-type {
  margin-right: 25px;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--footer .interact__wrapper .interact__item .interact__item--group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discuss__item .discuss__item--footer .interact__wrapper .interact__item .interact__item--group .label {
  margin-left: 3px;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .star__group--comment {
  width: max-content;
  margin-left: auto;
  text-align: center;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .star__group--comment .rating {
  color: #44c020;
  font-size: clamp(13px, 2.5vw, 16px);
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .star__group--comment .star {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .star__group--comment .star img {
  width: 10px;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .btnViewMore__container {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .btnViewMore__container .btnViewMore {
  color: #949494;
  font-size: 14px;
  background: transparent;
  border: 1px solid #949494;
  padding: 7px 25px;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 20px;
}

@media screen and (min-width: 579px) {
  .movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .btnViewMore__container .btnViewMore {
    margin-top: 35px;
  }
}

.movie__times .detail__times .tab-content #danhGia .movie__discussion .discussion__area .btnViewMore__container .btnViewMore:hover {
  background: #fb4226;
  border-color: #fb4226;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */