header {
  .header__content {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: 60px;
    // background-color: rgba(255, 255, 255, 0.95);
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 9;
    .header__left {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 50px;
        height: 50px;
      }
    }
    .header__center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      ul {
        list-style: none;
        margin: 0;
        li {
          display: inline;
          margin-right: 20px;
          a {
            text-decoration: none;
            @include text($color-black-0, $fs-0, $fw-bold);
            transition: all 0.2s;
            &:hover {
              color: $color-orange-1;
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        & {
          display: none !important;
        }
      }
    }
    .header__right {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      @include text($color-gray-2, $fs-1, $fw-normal);
      .header__account {
        cursor: pointer;
        img {
          width: 30px;
          height: auto;
          border-radius: 25px;
          margin-right: $mg-0;
        }
        span {
          padding-right: $pd-0;
        }
        @media screen and (max-width: 768px) {
          & {
            display: none !important;
          }
        }
      }
      // .header__location {
      //   cursor: pointer;
      //   img {
      //     margin-left: $mg-0;
      //   }
      //   .dropdown-menu {
      //     top: 75% !important;
      //     li {
      //       transition: all 0.2s;
      //       &:hover {
      //         background-color: #60c5ef;
      //         a {
      //           text-decoration: none;
      //           color: $color-white-0;
      //         }
      //       }
      //       a {
      //         @include text($color-black-0, $fs-1, $fw-normal);
      //         padding: 3px 20px;
      //       }
      //     }
      //   }
      // }
    }
    .leftmobile {
      display: none;
    }
    .menudropdown {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate3d(0, -50%, 0);
      width: 25px;
      z-index: 1;
    }
    .rightmobile {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      display: none;
      @media screen and (max-width: 736px) {
        display: initial;
      }
    }

    #sideMenu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      pointer-events: none;
      z-index: 10;
      overflow: hidden;
      transition: all 0.4s;

      .wrapMenuMobile {
        position: absolute;
        top: 0;
        right: -70%;
        width: 70%;
        height: 100%;
        background: #fff;
        transition: all 0.4s;
        overflow: hidden;
        // overflow-y: scroll;
        .wrapFirst {
          padding: 10px;
          position: relative;
          img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
          .btnAvatarMobile {
            margin-left: 5px;
            margin-right: 5px;
          }
          .close {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .menu {
        display: block;
        padding: 20px;
        position: relative;
        width: calc(100% - 40px);
        font-size: 18px;
        color: #000;
      }
      // .customScroll {
      //   overflow-y: scroll;
      // }
      &.active {
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: inherit;
        .wrapMenuMobile {
          right: 0;
        }
      }
    }
  }
}
