.movieList {
  padding-top: 120px;
  padding-bottom: 50px;
  background: url(../img/back-news.png);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 940px;
  margin: auto;
  display: flex;
  @media screen and (max-width: 677px) {
    & {
      display: block;
    }
  }
  .nav {
    display: block;
  }
  .listCinemas {
    max-height: 100%;
    width: 92px;
    @media screen and (max-width: 677px) {
      width: 100%;
    }
    border: 1px solid #ebebec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .logoWrapper {
      border: 1px solid transparent;
      padding: 20px;
      position: relative;
      transition: all 0.2s;
      opacity: 0.5;
      &.active,
      &:hover {
        opacity: 1;
      }
      img {
        width: 50px;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: calc(100% - 40px);
        transform: translateX(-50%);
        border-bottom: 1px solid #fff;
        border-color: rgba(238, 238, 238, 0.878);
      }
    }
  }
  #cinemaTabContent {
    flex-basis: 30%;
    min-width: 30%;
    width: 100%;
    max-height: 554px;
    border: 1px solid #ebebec;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    @media screen and (max-width: 677px) {
      width: 100%;
    }
    .cinemaList {
      &.active {
        display: flex;
        @media screen and (max-width: 677px) {
          & {
            display: block;
          }
        }
      }
      .listMovies {
        min-height: 705px;
        border-top: 1px solid #ebebec;
        width: 100%;
        @media screen and (max-width: 677px) {
          width: 100%;
        }
        .cinema-item {
          width: 100%;
          border: none;
          position: relative;
          opacity: 0.7;
          transition: all 0.5s;
          &.active,
          &:hover {
            opacity: 1;
            text-decoration: none;
          }
          .cinema__details {
            padding: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            .cinemaImg {
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 4px;
            }
            .cinemaInfo {
              display: flex;
              flex-direction: column;
              justify-content: center;
              overflow: hidden;
              padding-left: 10px;
              .cinemaName {
                display: block;
                font-weight: 700;
                .BHDStar {
                  color: $color-green-4;
                }
                .CineStar {
                  color: $color-pink;
                }

                .MegaGS {
                  color: $color-yellow;
                }
                .LotteCinima {
                  color: $color-brown;
                }
                .CGV {
                  color: #e71a0f;
                }
                .Galaxy {
                  color: #f60;
                }
              }
              .cinemaAddress {
                font-size: 12px;
                color: #949494;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .redDetail {
                color: $color-orange-1 !important;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .cinemaList__movies {
    flex-grow: 1;
    max-height: 554px;
    width: calc(70% - 92px);
    border: 1px solid #ebebec;
    overflow-y: auto;
    .wrapper__collapse {
      position: relative;
      width: 100%;
      padding: 20px;
      border: none;
      opacity: 1;
      transition: all 0.5s;
      .main__collapse {
        display: flex;
        position: relative;
        cursor: pointer;
        transition: all 0.5s;
        .theater__img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
        .wrapInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          padding-left: 10px;
          .movieName {
            display: block;
            font-weight: 700;
            .showing__age {
              display: inline-block;
              text-align: center;
              min-width: 30px;
              border-radius: 4px;
              background: #fb4226;
              color: #fff;
              font-size: 14px;
              padding: 0 5px;
              margin-right: 8px;
              font-weight: 600;
            }
          }
          .movieDetail {
            color: #949494;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        &::after {
          content: "\f078";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
        }
        &:not(.collapsed)::after {
          content: "\f077";
        }
      }
      .digital {
        color: #000;
        font-size: 18px;
        font-weight: 500;
      }
      .btn-time {
        display: block;
        float: left;
        margin: 0 10px 10px 0;
        background: hsla(0, 0%, 96.5%, 0.6);
        border: 1px solid #e4e4e4;
        border-radius: 7px;
        color: #9b9b9b;
        font-size: 14px;
        font-weight: 700;
        min-width: 20%;
        transition: all 0.5s;
        .start {
          color: $color-green-3;
          font-size: 18px;
        }
      }
    }
  }
}
