.tixCarousel {
  margin-top: 60px;
  position: relative;
  &:hover {
    .playBtn__overlay {
      opacity: 1;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .item {
    position: relative;
  }
  .slick-arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    width: 50px;
    height: 100px;
    z-index: 2;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover {
      color: #fb4226;
    }
    &::before {
      display: none;
    }
  }
  .slick-prev {
    background-image: url("../img/back-session.png");
    left: 30px;
  }
  .slick-next {
    // right: 100px !important;
    background-image: url("../img/next-session.png");
    right: 30px;
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translateX(-50%);
    list-style: none;

    li {
      button {
        &::before {
          display: none;
        }
        width: 12px;
        height: 12px;
        border-radius: 50%;
        color: transparent;
        background-color: #d8d8d8;
        outline: 0;
        border: 0;
      }
    }
    .slick-active {
      button {
        background-color: #fb4226;
      }
    }
  }
  #movieTrailer {
    padding: 0;
    .modal-dialog {
      @media screen and (min-width: 992px) {
        max-width: 800px;
      }
      .modal-content {
        background-color: black;
        .modal-body {
          padding: 0;
        }
      }
    }
  }
}
