body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.MuiTouchRipple-root {
  display: none;
}
.fade:not(.show) {
  display: none;
}
.row {
  margin: 0 !important;
}
/* html,
body {
  height: 100%;
} */
